In [55]:
import pandas as pd
import plotly_express as px
import sqlalchemy

In [56]:
df = pd.read_csv(r'C:\Users\lmpro\Documents\GitHub\logans_portfolio\uber_analysis\UberDataset.csv')
df.columns=df.columns.str.lower().str.strip().str.replace('-','_')

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1156 entries, 0 to 1155
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   start_date  1156 non-null   object
 1   end_date    1155 non-null   object
 2   category    1155 non-null   object
 3   start       1155 non-null   object
 4   stop        1155 non-null   object
 5   miles       1156 non-null   float64
 6   purpose     653 non-null    object
dtypes: float64(1), object(6)
memory usage: 63.3+ KB

In [58]:
df['purpose']=df['purpose'].fillna('other')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1156 entries, 0 to 1155
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   start_date  1156 non-null   object
 1   end_date    1155 non-null   object
 2   category    1155 non-null   object
 3   start       1155 non-null   object
 4   stop        1155 non-null   object
 5   miles       1156 non-null   float64
 6   purpose     1156 non-null   object
dtypes: float64(1), object(6)
memory usage: 63.3+ KB

In [59]:
df.dropna(inplace=True)

In [63]:
df.iloc[df['miles'].idxmax()]

start_date    3/25/2016 16:52
end_date      3/25/2016 22:22
category             Business
start                   Latta
stop             Jacksonville
miles                   310.3
purpose        Customer Visit
Name: 269, dtype: object